
:root {
    --brand-button-color:#4D5AE5;
    --basic-color:#2E2F42;
    --minor-color: #434455;
    --hero-bg-color:#2E2F42;
    --btn-bgc-hero:#404BBF;
    --text-white-color:#FFFFFF;
    --footer-text-studio:#F4F4FD;
    --footer-text :#E7E9FC;
    

}
/* @keyframes Experiment{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.card_set-item:hover{
    animation-name:Experiment ;
    animation-duration: 5s;

} */

h1,h2,h3,h4,p,ul{
    padding-left: 0;
    margin: 0;}
a {text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    color: var(--minor-color);
    background-color: var(--text-white-color);
}


li{list-style-type: none;}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header{
    background-color: var(--text-white-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

.container{
    max-width: 1128px;
    margin: 0 auto;
        padding: 0 ;
}
.no_gap{display: block;}

.section{
    padding-top: 120px;
    padding-bottom: 120px;}

    .p_b_z{padding-bottom: 0px;}


/* 12345 */
/* -----------------------HEADER-------------------------------- */

.main_nav{
       display: flex;
       align-items: center;}



.labe_web{
        color:var(--brand-button-color);
        font-family: 'Raleway', sans-serif;}

.labe_studio{
        font-family: 'Raleway', sans-serif;
        color:var(--basic-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        padding-top: 24px;
        padding-bottom: 24px;
         
        
}

.list_nav{
    display: flex;
    margin-left: 77px;
}

.nav_item{
     display: block;
     text-align: center;
     color: var(--basic-color);
     font-weight: 700;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     padding-top: 24px;
     padding-bottom: 24px;

    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
     
    
    

}

.polosa::after {
    content: '';
    display: block;
    /* width: 78px; */
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-button-color);

}

.item_list_nav{
       margin-right: 40px;
}

.item_list_nav:last-child{
      margin-right: 0px;
}




.nav_item:hover,.nav_item:focus{
       color: var(--brand-button-color);
}

.nav_list_active{
       color: var(--brand-button-color);
    }



.contact_nav{
       display: flex;
        margin-left: auto;
}


 .color_contact{
        color: var(--minor-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
         padding-bottom: 24px;
         display: block;

        transition-property: color;
            transition-duration: 250ms;
            transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        
        
    
 }


    .contact_nav .contact_nav-item+.contact_nav-item{margin-left: 40px;}


 .color_contact:hover,.color_contact:focus{color: var(--brand-button-color);}
/* -------------------------------hero--------------------- */
 .hero{
    
    background-image:url(../images/Dark-bg.png), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    
   
    color: #404BBF;
    padding-top: 192px;
    padding-bottom: 192px;
    
    
}
.fon{background-color:   #2E2F42;
    opacity: 0.7;}


.title-hero {
        color:var(--text-white-color);
         font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        
       
}
.btn_hero{

            background-color: var(--brand-button-color);
            color: var(--text-white-color);
            border-radius: 4px;
            border: currentColor;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.04em;
            cursor: pointer;
            font-family: 'Roboto',
                    sans-serif;
             padding: 16px 32px;
             margin-top: 48px;

            transition-property: box-shadow;
                transition-duration: 250ms;
                transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
            }

    .parent_button{display: flex;
    justify-content: center;}


.btn_hero:hover,.btn_hero:focus{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.btn_hero:active{background-color:var(--btn-bgc-hero);}
/* -----------------------advantages---------------- */

/* .advantages_picture{
    
    height: 112px;
    background-color:var(--footer-text-studio);
    border-radius: 4px;
    margin-bottom: 8px;} */
        

.advantages_item{
    flex-basis:calc((100%-72px)/4) ;
    
}
.advantages_item::before{
    content:"";
    height: 112px;
     
    background-color:var(--footer-text-studio); 
    display: block; 
    
    border-radius: 4px;
    margin-bottom: 8px;

    
    background-repeat: no-repeat;
    background-position: center;

}

.advantages_item:nth-child(1)::before{

background-image: url(../images/antenna-1.svg);
}

.advantages_item:nth-child(2)::before {

    background-image: url(../images/clock-1.svg);
}

.advantages_item:nth-child(3)::before {

    background-image: url(../images/diagram-1.svg);
}
.advantages_item:nth-child(4)::before {

    background-image: url(../images/astronaut-1.svg);
}



.advantages_name{
    color: var(--basic-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages_text{
   color: var(--minor-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
    
}

.card_set-advantages {
    
    display: flex;
    justify-content: space-between;
    gap: 24px;}
/* ---------------------our-job-------------- */
.title_our_job{
        color: var(--basic-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
}

.card_set{display: flex;
justify-content: space-between;
gap: 24px;
flex-wrap: wrap;}



/* ------------------team------------------ */
.team{background-color: var(--footer-text-studio);}
.title_team{
   color: var(--basic-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team_item{background-color: var(--text-white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;}

.team_names{
    color: var(--basic-color);
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;

}
.team_specialty{
color: var(--minor-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 12px;
}


/* ---------------social-link-------------- */
.social-link-list{
    display: flex;
    justify-content: space-between;
    
    

}





.social-link-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:var(--brand-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}

.icons-social{

 fill: #F4F4FD;;
 width: 16px;
height: 16px;
} 



/* --------------CUSTOMERS-------------------- */
.customer-link{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
   .customer-item{
    padding: 16px 32px;
    flex-basis: calc((100%-120px)/6);
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    

         display: flex;
        justify-content: center;
        align-items: center;

        transition-property:border-color ;
            transition-duration: 250ms;
            transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

        
   }
    .customer-item:hover{
    border-color: var(--brand-button-color);
    
    }
        .customer-item:focus {
            border-color: var(--brand-button-color);
    
        }
    .customer-item:hover .customer-icon-one{
        fill:var(--brand-button-color);
    }
         .customer-item:focus .customer-icon-one {
             fill: var(--brand-button-color);
         }

         .customer-item:hover .customer-icon-two {
             fill: var(--brand-button-color);
         }
    
         .customer-item:focus .customer-icon-two {
             fill: var(--brand-button-color);
         }

                  .customer-item:hover .customer-icon-three {
                      fill: var(--brand-button-color);
                  }
        
                  .customer-item:focus .customer-icon-three {
                      fill: var(--brand-button-color);
                  }

                                        .customer-item:hover .customer-icon-four {
                                            fill: var(--brand-button-color);
                                        }
                    
                                        .customer-item:focus .customer-icon-four {
                                            fill: var(--brand-button-color);
                                        }


                      .customer-item:hover .customer-icon-five {
                                      fill: var(--brand-button-color);
                                               }
                                                
                                      .customer-item:focus .customer-icon-five {
                                                fill: var(--brand-button-color);
                                                }

                                           .customer-item:hover .customer-icon-six {
                                                    fill: var(--brand-button-color);
                                              }
                                                
                                      .customer-item:focus .customer-icon-six {
                                                fill: var(--brand-button-color);
                                                        }




         .customer-list{
            width: 168px;
         }
   
   .customer-icon-one{
    fill: #AFB1B8;
    width: 41px;
    height: 47px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4,
            0,
            0.2,
            1);
   }
   .customer-icon-two{
    fill:#AFB1B8;
    width: 40px;
    height: 52px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   }
   .customer-icon-three{
    fill:#AFB1B8;
    width: 44px;
    height: 41px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   }
   .customer-icon-four{
    fill:#AFB1B8;
    width: 84px;
    height: 41px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   }
.customer-icon-five{
    fill:#AFB1B8;
    width: 63px;
    height: 45px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon-six{
    fill:#AFB1B8;
    width: 94px;
    height: 44px;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
   
   

   


/* ----------------------FOOTER------------------ */

.footer{
    background-color: var(--hero-bg-color);
    padding: 100px 0px; 
}

.container-all-footer{
    display: flex;
max-width: 1128px;
    margin: 0 auto;
    padding: 0;
}


.container_footer{
    width: 264px;
   
}


.footer_web {
    color: var(--brand-button-color);
    font-family: 'Raleway', sans-serif;
}

.footer_studio {
    font-family: 'Raleway', sans-serif;
    color: var(--footer-text-studio);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
   

}
.footer_text{ 
        color: var(--footer-text);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 16px;
    
        letter-spacing: 0.02em;}

        .container-social-media{
            
            width: 208px;
            margin-left: 120px;
            
        }

        .footer-text-social{
            color:var(--text-white-color);
            font-weight: 600;
                font-size: 16px;
                line-height: calc(24/16);
                letter-spacing: 0.02em;
                margin-bottom: 16px;
        }

        .footer-icon-list{
            display: flex;
            justify-content: space-between;
            
        }

        .footer-icon-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color:  rgba(255, 255, 255, 0.1);

            transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

            

            .footer-icon-item:hover{
                background-color:#31D0AA;
            }

                        .footer-icon-item:focus {
                            background-color: #31D0AA;
                        }
            
            .icons-social-footer {
            
                fill: #F4F4FD;
                ;
                width: 24px;
                height: 24px;
            }

        .footer-icon-link{
            }


    /* ============================PORTFOLIO================================ */

      .section_portfolio-padding-top{padding-top: 96px;}

    .btn_portfolio{ 
         font-family: 'Roboto',
            sans-serif;
         background-color: var(--footer-text-studio);
         color: var(--brand-button-color);
         border: 1px solid #E7E9FC;
         border-radius: 4px;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         cursor: pointer;
         padding: 12px 24px;

        transition-property: background-color,color,border-color,box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

         
         
    }
    .btn_portfolio:hover,.btn_portfolio:focus{ 
        color: var(--footer-text-studio);
         background-color: var(--brand-button-color);
        border-color: transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
     
    
    .card_item{
        display: block;
            border-bottom-width: 0.5px;
            border-bottom-style: solid;
            border-bottom-color: #F4F4FD;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

           
        
        transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

            .card_item:hover,.card_item:focus{
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


    .card-relative{
        position: relative;
        overflow: hidden;
    }
    
    /* .card-relative::before{
        position: absolute;
        display: inline-block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: tomato;
        opacity: 0;
    }
        .card_item:hover .card-relative::before {
            opacity: 1;
        }

                .card_item:focus .card-relative::before {
                    opacity: 1;
                } */




        .text-card-nine{
            
            width: 296px;

                font-weight: 400;
                font-size: 16px;
                line-height: calc(24/16);
                letter-spacing: 0.02em;
                color: #F4F4FD;
        }
    
    .card-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--brand-button-color);
        
        padding: 40px 32px ;
        

        transform: translateY(100%);

    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }






                .card_item:hover .card-overlay{
            
            transform: translateY(0%);
        }

 .card_item:focus .card-overlay {
     opacity: 1;
 }


   .description_card{
    padding: 32px 16px;
    border-left:1px solid #EEEEEE ;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

    }

    .list_button{
    display: flex;
    justify-content: center;
    gap: 24px;
     margin-bottom: 72px;}

    .card-set_portfolio{ 
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}


/* --------------------------modalka----------------- */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);


    transition-property: opacity, visibility;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition-property: opacity,visibility;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

      min-width: 408px;
      min-height: 576px;


         background: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
}

.modal-btn-cls{
    cursor: pointer;
position: absolute;
top: 24px;
right: 24px;

display: flex;
align-items: center;
justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition-property:box-shadow;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

   
}

.modal-btn-cls:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 50%;

}

.modal-btn-cls:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 50%;

}

.modal-icon-cls{
    width: 8px;
    height: 8px;

}